<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>RevatureTrainingJDBCProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.revature.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomePageViewServlet</display-name>
    <servlet-name>HomePageViewServlet</servlet-name>
    <servlet-class>com.revature.servlet.HomePageViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomePageViewServlet</servlet-name>
    <url-pattern>/HomePageViewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NavbarServlet</display-name>
    <servlet-name>NavbarServlet</servlet-name>
    <servlet-class>com.revature.servlet.NavbarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NavbarServlet</servlet-name>
    <url-pattern>/NavbarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.revature.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpReimbursementServlet</display-name>
    <servlet-name>EmpReimbursementServlet</servlet-name>
    <servlet-class>com.revature.servlet.EmpReimbursementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpReimbursementServlet</servlet-name>
    <url-pattern>/EmpReimbursementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEmpInfoServlet</display-name>
    <servlet-name>UpdateEmpInfoServlet</servlet-name>
    <servlet-class>com.revature.servlet.UpdateEmpInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmpInfoServlet</servlet-name>
    <url-pattern>/UpdateEmpInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllEmpsPageServlet</display-name>
    <servlet-name>ViewAllEmpsPageServlet</servlet-name>
    <servlet-class>com.revature.servlet.ViewAllEmpsPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllEmpsPageServlet</servlet-name>
    <url-pattern>/ViewAllEmpsPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllEmployeesServlet</display-name>
    <servlet-name>ViewAllEmployeesServlet</servlet-name>
    <servlet-class>com.revature.servlet.ViewAllEmployeesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllEmployeesServlet</servlet-name>
    <url-pattern>/ViewAllEmployeesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllPendingPageServlet</display-name>
    <servlet-name>ViewAllPendingPageServlet</servlet-name>
    <servlet-class>com.revature.servlet.ViewAllPendingPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllPendingPageServlet</servlet-name>
    <url-pattern>/ViewAllPendingPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllPendingRequestsServlet</display-name>
    <servlet-name>ViewAllPendingRequestsServlet</servlet-name>
    <servlet-class>com.revature.servlet.ViewAllPendingRequestsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllPendingRequestsServlet</servlet-name>
    <url-pattern>/ViewAllPendingRequestsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllResolvedPageServlet</display-name>
    <servlet-name>ViewAllResolvedPageServlet</servlet-name>
    <servlet-class>com.revature.servlet.ViewAllResolvedPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllResolvedPageServlet</servlet-name>
    <url-pattern>/ViewAllResolvedPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllResolvedRequestsServlet</display-name>
    <servlet-name>ViewAllResolvedRequestsServlet</servlet-name>
    <servlet-class>com.revature.servlet.ViewAllResolvedRequestsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllResolvedRequestsServlet</servlet-name>
    <url-pattern>/ViewAllResolvedRequestsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewEmployeeServlet</display-name>
    <servlet-name>ViewEmployeeServlet</servlet-name>
    <servlet-class>com.revature.servlet.ViewEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewEmployeeServlet</servlet-name>
    <url-pattern>/ViewEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewEmployeeUpdateServlet</display-name>
    <servlet-name>ViewEmployeeUpdateServlet</servlet-name>
    <servlet-class>com.revature.servlet.ViewEmployeeUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewEmployeeUpdateServlet</servlet-name>
    <url-pattern>/ViewEmployeeUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewHomepageServlet</display-name>
    <servlet-name>ViewHomepageServlet</servlet-name>
    <servlet-class>com.revature.servlet.ViewHomepageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewHomepageServlet</servlet-name>
    <url-pattern>/ViewHomepageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewPendingPageServlet</display-name>
    <servlet-name>ViewPendingPageServlet</servlet-name>
    <servlet-class>com.revature.servlet.ViewPendingPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPendingPageServlet</servlet-name>
    <url-pattern>/ViewPendingPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewPendingRequestsServlet</display-name>
    <servlet-name>ViewPendingRequestsServlet</servlet-name>
    <servlet-class>com.revature.servlet.ViewPendingRequestsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPendingRequestsServlet</servlet-name>
    <url-pattern>/ViewPendingRequestsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewReimbursementTypes</display-name>
    <servlet-name>ViewReimbursementTypes</servlet-name>
    <servlet-class>com.revature.servlet.ViewReimbursementTypes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewReimbursementTypes</servlet-name>
    <url-pattern>/ViewReimbursementTypes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewResolvedPageServlet</display-name>
    <servlet-name>ViewResolvedPageServlet</servlet-name>
    <servlet-class>com.revature.servlet.ViewResolvedPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewResolvedPageServlet</servlet-name>
    <url-pattern>/ViewResolvedPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewResolvedRequestsServlet</display-name>
    <servlet-name>ViewResolvedRequestsServlet</servlet-name>
    <servlet-class>com.revature.servlet.ViewResolvedRequestsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewResolvedRequestsServlet</servlet-name>
    <url-pattern>/ViewResolvedRequestsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewSubmitPageServlet</display-name>
    <servlet-name>ViewSubmitPageServlet</servlet-name>
    <servlet-class>com.revature.servlet.ViewSubmitPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewSubmitPageServlet</servlet-name>
    <url-pattern>/ViewSubmitPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveRequestServlet</display-name>
    <servlet-name>ApproveRequestServlet</servlet-name>
    <servlet-class>com.revature.servlet.ApproveRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveRequestServlet</servlet-name>
    <url-pattern>/ApproveRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DenyRequestServlet</display-name>
    <servlet-name>DenyRequestServlet</servlet-name>
    <servlet-class>com.revature.servlet.DenyRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DenyRequestServlet</servlet-name>
    <url-pattern>/DenyRequestServlet</url-pattern>
  </servlet-mapping>
</web-app>